numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
librosa==0.10.2.post1
matplotlib==3.9.2
seaborn==0.13.2
soundfile==0.12.1
joblib==1.4.2
tqdm==4.66.5
jupyter==1.0.0   # using notebooks
notebook==7.2.2  # for Google Colab / Jupyter
